---
export type Props = {
	children: string;
	variant: "primary" | "secondary";
	class?: string;
};

const { variant, class: className } = Astro.props;
---

<style>
  .primary {
    @apply bg-primary text-white;
  }
  .secondary {
    @apply bg-gray-300 text-primary;
  }
</style>

<button
  class:list={[
    "font-medium text-lg btn-primary py-2 px-6 w-full rounded",
    variant,
    className,
  ]}
>
  <slot />
</button>
