---
import Button from "./Button.astro";

const MAC_DOWNLOAD_URL =
  "https://github.com/kohii/smoothcsv3/releases/download/v0.1.0-alpha.4/SmoothCSV.3_0.1.0-alpha.4_universal.dmg";
const WINDOWS_DOWNLOAD_URL =
  "https://github.com/kohii/smoothcsv3/releases/download/v0.1.0-alpha.5/SmoothCSV.3_0.1.0-alpha.5_x64-setup.exe";
---

<div class="group">
  <div class="flex gap-3 items-center justify-center flex-wrap">
    <a href={MAC_DOWNLOAD_URL}>
      <Button variant="primary" class="download-button"
        >Download for macOS</Button
      >
    </a>
    <a href={WINDOWS_DOWNLOAD_URL}>
      <Button variant="secondary" class="download-button"
        >Download for Windows</Button
      >
    </a>
  </div>
  <p class="text-xs text-gray-600 pt-2 opacity-0 group-hover:opacity-100">
    By using SmoothCSV, you agree to its <a href="/privacy" class="underline"
      >Privacy Policy</a
    > and <a href="/terms" class="underline">Terms of Use</a>.
  </p>
</div>
<script>
  function detectOS() {
    const userAgent = window.navigator.userAgent.toLowerCase();
    if (userAgent.indexOf("win") > -1) return "Windows";
    if (userAgent.indexOf("mac") > -1) return "macOS";
    return "Unknown";
  }

  function swapButtonStyles() {
    const os = detectOS();
    if (os === "Windows") {
      const buttons = document.querySelectorAll("button.download-button");
      buttons.forEach((button) => {
        if (button.classList.contains("primary")) {
          button.classList.remove("primary");
          button.classList.add("secondary");
        } else {
          button.classList.remove("secondary");
          button.classList.add("primary");
        }
      });
    }
  }

  swapButtonStyles();
</script>
