---
import { getLangFromUrl, getRelativeLocaleUrl } from "@i18n/utils";
import AppIcon from "./AppIcon.astro";
import GitHubIcon from "./GitHubIcon.astro";

const lang = getLangFromUrl(Astro.url);
---

<header class="px-4 lg:px-6 h-14 flex items-center container mx-auto">
  <a class="flex items-center justify-center" href={getRelativeLocaleUrl(lang, "/")} title="Home">
    <AppIcon class="w-8 h-8" />

    <span class="ml-2 text-xl font-semibold">SmoothCSV</span>
    <div class="ml-auto flex items-center hover:[&_a]:text-link">
      <nav class="flex gap-4 sm:gap-6">
        <a href={getRelativeLocaleUrl(lang, "/download")}>Download</a>
        <a href={getRelativeLocaleUrl(lang, "/blog")}>Blog</a>
        <a href="https://github.com/kohii/smoothcsv3/releases"> Updates </a>
        <a
          href="https://github.com/kohii/smoothcsv3"
          title="SmoothCSV on GitHub"
        >
          <GitHubIcon class="w-7 h-7" />
        </a>
      </nav>
    </div>
  </a>
</header>
