---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <main class="container mx-auto px-4 py-8">
    <article class="prose lg:prose-md">
      <slot />
    </article>
  </main>
</BaseLayout>
